@font-face {
    font-family: Valentina;
    src: url(Assets/fonts/hello_valentica/Hello\ Valentina.ttf);
} 


body {
    /* font-family: Valentina; */
    font-family: Arial, sans-serif;
    background-color: #ffebee;
    text-align: center;
    margin: 0;
    padding: 20px;
    
}

.container {
    max-width: 850px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

h1 {
    color: #d32f2f;
}

label,
input,
textarea,
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    min-height: 2rem;
    border: 1.3px solid #ff9f9f;
    border-radius: .3rem;
    outline: #d32f2f;

}
textarea:focus-within,input:focus-within{
    /* color: #d32f 2f; */
    border: 2px solid #ff7b7b   ;
    filter: drop-shadow(0 0 5px #ffd3d3);
}
 
textarea {
    min-height: 3.8rem;
    border: 1.3px solid #ff9f9f;
    border-radius: .2rem;
    outline: #d32f2f;
}

button {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.card {
    width: 250px;
  height: 400px;
    margin: auto;                          
    position: relative;
    cursor: pointer;
}

.front,
.inside {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.inside {
    transform: rotateY(180deg);
    background: #ffebee;
    color: #d32f2f;
    font-weight: bold;
}

.hidden {
    display: none;
}

input#aiPoem{
    min-height: .9rem;

}

#revealedMessage{
    padding: 0  1.6rem 0rem;
 font-weight: 500;   
 letter-spacing: 1px;
 font-style: italic;
 font-size: 1rem;
    margin-bottom: 5.5rem;
    font-family: Valentina;
}